<%= erb :'banner_standard', :layout => false %>

<div class="content">
	<div><%= flash[:notice] %></div>
	<form method="post" action="/admin/add/theme">
		<label>Name</label>
		<input id="name" type="text" name="theme[name]" /><br>
		<label>Tagline</label>
		<input id="tagline" type="text" name="theme[tagline]" /><br>
		<label>Price</label>
		<input id="price" type="text" name="theme[price]" value="26.00" /><br>
		<label class="float_left">Style</label>
		<textarea id="style" name="theme[style]" rows="10"></textarea><br>
		<label class="float_left">Extras</label>
		<textarea id="extras" name="theme[extras]" rows="10"></textarea><br>
		
		<label>Keynote Version</label>
		<input id="keynote_version" type="text" name="theme[keynote_version]" /><br>
		<label>Required Fonts</label>
		<input id="fonts" type="text" name="theme[fonts]" /><br>
		<label>Download Size</label>
		<input id="download_size" type="text" name="theme[download_size]" /><br>
	
		<label>Theme Sizes</label>
		<input id="theme_sizes" type="text" name="theme[theme_sizes]" value="800, 1024, 1280, 1680, 1920"/><br>
	
		<label>Text Layouts</label>
		<input id="text_layouts" type="text" name="theme[text_layouts]" /><br>
		<label>Photo Layouts</label>
		<input id="photo_layouts" type="text" name="theme[photo_layouts]" /><br>
		<label>Total Layouts</label>
		<input id="total_layouts" type="text" name="theme[total_layouts]" /><br>
		<label>Extras Slides</label>
		<input id="extras_slides" type="text" name="theme[extras_slides]" /><br>
		<label>Video Tutorial</label>
		<input id="video_tutorial" type="text" name="theme[video_tutorial]" /><br>

		<% if @theme.count > 1 %>
			<label>Promotion One</label>
			<select id="promo_one" name="theme[promo_one]">
					<option value="0">Complete Set Only</option>
				<% @theme.each do |theme| %>
					<option value="<%= theme.id %>"><%= theme.name %></option>
				<% end %>
			</select><br>
			<label>Promotion Two</label>
			<select id="promo_two" name="theme[promo_two]">
				<option value="0">Complete Set Only</option>
			  <% @theme.each do |theme| %>
			  	<option value="<%= theme.id %>"><%= theme.name %></option>
			  <% end %>
			</select><br>
		<% end %>
		
		<div id="buttons">
			<button type="submit">Add Theme</button>
		</div>
	
	</form>
</div>