<%= erb :'header', :layout => false %>

<div class="module">
	<div class="content clear">
		<div><%= flash[:notice] %></div>
		<form action="/admin/add/user" method="post" id="user" enctype="multipart/form-data">
			<label>First</label>
			<input type="text" name="user[user_first_name]" id="user_first_name" autocorrect="off"><br>
			<label>Last</label>
			<input type="text" name="user[user_last_name]" id="user_last_name" autocorrect="off">
	
			<label>Email</label>
			<input type="email" autocomplete='off' name="user[user_email]" id="user_email" autocorrect="off" autocapitalize="off"/>
			<label>Password</label>
			<input type="text" autocomplete='off' name="user[password]" id="password" autocorrect="off" autocapitalize="off"/>
		
			<div class="clear">		
				<button class="btn_blue float_right" type="submit">Add New User</button>
			</div>
		</form>
	</div>
</div>


<div class="product_list clear">
	<% @users.each_with_index do |users| %>
		<div class="col_1of3">
			<div class="module">
				<div class="content">
					<div class="user_name">
						<h3><%= users.user_first_name %> <%= users.user_last_name %></h3>
						<h4><%= users.user_email %></h4>
					</div>
					<div class="clear">
						<h4><a class="edit float_right" href="/admin/edit/user/<%= users.id %>">Edit</a></h4>
						<h4><a class="edit password float_right" href="/admin/change/password/<%= users.id %>">Change Password</a></h4>
						<h4><a class="delete float_right" href="/admin/delete/user/<%= users.id %>">Delete</a></h4>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>