<%= erb :'banner_standard', :layout => false %>

<div class="content">
	<% if session['purchase'] %>
		<h4>Review your order.</h4>
		<table>
			<tr>
				<th class="text_align_left">Theme</th>
				<th>Remove</th>
				<th>Quantity</th>
				<th class="text_align_right">Price</th>
				<th class="text_align_right">Totals</th>
			</tr>
		<% @purchase_hash.sort_by { |key, value| key }.each do |key, value| %>
			<tr>
				<td><%= Theme.get(key.to_i).name %></td>
				<td class="text_align_center fixed_column"><a class="remove" href="/remove/<%= Theme.get(key.to_i).id %>">remove</a></td>
				<td class="text_align_center fixed_column">
					<form action="/update/<%= key.to_i %>" method="POST">
						<input type="text" name="new_count" autocomplete="off" value="<%= value.to_i %>"/>
						<button class="update" type="submit">update</button>
					</form>
				</td>
				<td class="text_align_right fixed_column">$<%= Theme.get(key.to_i).price %></td>
				<td class="text_align_right fixed_column">$<%= Theme.get(key.to_i).price * value.to_i %></td>
			</tr>
		<% end %>
		<% if @purchase_count >= 3 %>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="fixed_column">total: $<%= @purchase_total %></td>
			</tr>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td>discount: 10%</td>
			</tr>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td>discounted total: $<%= @purchase_discount.to_i %></td>
			</tr>
		<% else %>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="fixed_column">total: $<%= @purchase_total %></td>
			</tr>
		<% end %>
		</table>
	<% else %>
		<h2>Your cart is currently empty.</h2>
	<% end %>
</div>

<% if session['purchase'] %>	
<div class="content">	
	<h4>Submit payment.</h4>
	<h5 class="payment-errors"></h5>
	<form action="/payment" method="POST" id="payment-form">
		<fieldset>
				<label class="name_label">First</label><label>Last</label><br>
				<input id="order_first_name" type="text" name="order[order_first_name]" class="name"/>
				<input id="order_last_name" type="text" name="order[order_last_name]" class="name"/>
				<label>Email</label><br>
				<input id="order_email" type="text" name="order[order_email]" class="email"/>
				<input id="order_newsletter"  type="checkbox" checked name="order[order_newsletter]" value="true" /> <label>Update me with the occasional (truly rare) email.</label>
				
				<!--<input id="order_number" type="hidden" name="order[order_number]" value="<%= rand(1000000000000000..9999999999999999) %>" />-->
				<input id="order_total" type="hidden" name="order[order_total]" value="<%= @purchase_total.to_i %>" />
				<% if @purchase_count >= 3 %>
					<input id="order_discount" type="hidden" name="order[order_discount]" value="<%= @discount_percentage %>" />
				<% end %>
		</fieldset>
		<fieldset>
				<label class="card-number-label">Card Number</label><label>CVC</label><br>
				<input type="text" size="20" autocomplete="off" class="card-number"/>
				<input type="text" size="4" autocomplete="off" class="card-cvc"/>
				<label>Expiration Date</label><br>
				<select class="card-expiry-month">
					<option value="01">01 - January</option>
					<option value="02">02 - February</option>
					<option value="03">03 - March</option>
					<option value="04">04 - April</option>
					<option value="05">05 - May</option>
					<option value="06">06 - June</option>
					<option value="07">07 - July</option>
					<option value="08">08 - August</option>
					<option value="09">09 - September</option>
					<option value="10">10 - October</option>
					<option value="11">11 - November</option>
					<option value="12">12 - December</option>
				</select>
		  	
				<select class="card-expiry-year">
					<option>2012</option>
					<option>2013</option>
					<option>2014</option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
					<option>2019</option>
					<option>2020</option>
					<option>2021</option>
					<option>2022</option>
					<option>2023</option>
					<option>2024</option>
					<option>2025</option>
				</select> 
		</fieldset>
		<fieldset>
			<button type="submit" class="submit-button blue_button">Submit</button>
			<div class="payment_loading hide"></div>
		</fieldset>
	</form>
	
	<img class="credit_cards" src="../images/credit_cards.png" />
</div>
<% end %>

<%= erb :'catalog', :layout => false %>

<%= erb :'about', :layout => false %>