<%= erb :'banner_standard', :layout => false %>

<div id="complete" class="content">
	<div class="complete_info">
		<h4>The <%= @complete_set.name %></h4>
		<p><%= @complete_set.style %></p>
		<p><%= @complete_set.extras %></p>
		<a href="/buy/<%= @complete_set.id %>" class="blue_button">Buy - $<%= @complete_set.price %></a>
	</div>
</div>

<%= erb :'catalog', :layout => false %>