<%= erb :'header', :layout => false %>

<div class="clear freebie_list">
<% @theme.each do |theme| %>
	<div class="col_1of2 <% if theme.name === "Complete Set" || theme.extras === "" %>hide<% end %>">
		<div class="module<% if theme.id === 49 %> hide<% end %><% if theme.id === 51 %> hide<% end %>">
			<div id="<%= theme.name.downcase.gsub(" ", "_") %>_extras" class="content clear">
				<div class="col_2of5"><div class="module"></div></div>
				<div class="col_3of5">
					<h3><%= theme.name %></h3>
					<p class="txt_left"><%= theme.extras %></p>
				</div>
				<div class="clear txt_right">
					<a href="/theme/<%= theme.id %>" class="btn_grey btn_after">Theme</a> 
					<a href="http://d3irottkalkrwf.cloudfront.net/<%= theme.name.downcase.gsub(" ", "_") %>_freebies.zip" class="btn_blue btn_after">Download</a>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>

<%= erb :'buy', :layout => false %>
<%= erb :'products', :layout => false %>
<%= erb :'about', :layout => false %>