<%= erb :'banner_standard', :layout => false %>

<div class="content">

	<h3>Online Sales Receipt</h3>
	<h6>Customer: <%= @order.order_first_name %> <%= @order.order_last_name  %></h6>
	<h6>Date: <%= @order.created_at.strftime("%B %d, %Y") %></h6>
	<h6>Invoice: 000-<%= @order.id %></h6>
	&nbsp<br>
	<p>The themes you purchased are listed below along with a download link. You will only be able to download your order for 24 hours from the time of purchase. We truly appreciate your business. If you need any assistance now or in the future please contact us at support@keynotestore.com.</p>
	<table id="invoice">
		<tr>
			<th>Theme</th>
			<th>Download Time Left</th>
			<th>Quantity</th>
			<th class="text_align_right">Price</th>
			<th class="text_align_right">Totals</th>
		</tr>
		<% @purchase.each do |purchase| %>
			<tr class="no_hover">
				<% if ((DateTime.now - @order.created_at) * 24).to_f < 24 %>
					<td class="text_align_center"><a class="download" href="<%= purchase.item_url %>">Download <%= purchase.item_name %></a></td>
				<% else %>
					<td class="text_align_center"><%= purchase.item_name %> Download Expired</td>
				<% end %>
				<% if ((DateTime.now - @order.created_at) * 24).to_i < 0 %>
					<td class="text_align_center">Expired</td>
				<% else %>
					<td class="text_align_center"><%= (24 - (DateTime.now - @order.created_at) * 24).to_i %> hours</td>
				<% end %>	
				<td class="text_align_center"><%= purchase.item_quantity %></td>
				<td class="text_align_right">$<%= purchase.item_price %></td>
				<td class="text_align_right">$<%= purchase.item_quantity * purchase.item_price %></td>
			</tr>
		<% end %>
		<% if @order.order_discount != 0 %>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="fixed_column">Total: $<%= @order.order_total %></td>
			</tr>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td>Discount: <%= (@order.order_discount * 100).to_i %>%</td>
			</tr>
		<% end %>
			<tr class="text_align_right no_hover">
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="no_border"></td>
				<td class="fixed_column">Total: $<%= (@order.order_total.to_i - (@order.order_total.to_i * @order.order_discount)).to_i %></td>
			</tr>
	</table>
	<div>
		<h4>Thank You!</h4>
		<h6>The Keynote Store</h6>
	</div>
	
	<div class="button_container">
		<a id="print" class="gray_button float_right" href="/print/order/<%= @order.id %>">Printable Receipt</a>
	</div>
	
</div>

<%= erb :'catalog', :layout => false %>

<%= erb :'about', :layout => false %>