<%= erb :'header', :layout => false %>

<div class="module">
	<div class="content clear">
		<h3>Online Sales Receipt</h3>
		<h6>Customer: <%= @order.order_first_name %> <%= @order.order_last_name  %></h6>
		<h6>Date: <%= @order.created_at.strftime("%B %d, %Y") %></h6>
		<h6>Invoice: 000-<%= @order.id %></h6>
		&nbsp<br>
		<p>The themes you purchased are listed below along with a download link. You will only be able to download your order for 24 hours from the time of purchase. We truly appreciate your business. If you need any assistance now or in the future please contact us at support@keynotestore.com.</p>
		<% @purchase.each do |purchase| %>
			<div class="mobile_cart_item clear">
				<div class="receipt_img">
					<img src="/images/poster-<%= purchase.item_name.downcase.gsub(" ", "-") %>.png" alt="Poster Image for <%= purchase.item_name %> a Custom Theme for Apple's Keynote Presentation Software"/>
				</div>
				<div class="mobile_cart_info">
						<div class="mobile_cart_line"><strong><%= purchase.item_name %>: $<%= purchase.item_price %></strong></div>
						<% if ((DateTime.now - @order.created_at) * 24).to_f < 24 %>
							<div class="mobile_cart_line"><a class="btn_blue" href="<%= purchase.item_url %>">Download</a></div>
						<% end %>
						<div class="mobile_cart_line">Download Time: <% if ((DateTime.now - @order.created_at) * 24).to_f < 24 %>
							<%= (24 - (DateTime.now - @order.created_at) * 24).to_i %> hours
						<% else %>
							Expired
						<% end %></div>
					<div class="mobile_cart_line">Quantity: <%= purchase.item_quantity %></div>
					<div class="mobile_cart_line">Purchase Total: $<%= purchase.item_quantity * purchase.item_price %></div>
				</div>
			</div>
		<% end %>
		<% if @order.order_discount != 0 %>
			<div class="mobile_cart_totals">
				Total: $<%= @order.order_total %>
				Discount: <%= (@order.order_discount * 100).to_i %>%
			</div>
		<% end %>
		<div class="mobile_cart_totals">
			<strong>Total: $<%= (@order.order_total.to_i - (@order.order_total.to_i * @order.order_discount)).to_i %></strong>
		</div>	
		<div class="signature">
			<h3>Thank You!</h3>
			<h6>The Keynote Store</h6>
		</div>
		
		<div class="clear">
			<a id="print" class="btn_grey float_right" href="/print/order/<%= @order.id %>">Printable Receipt</a>
		</div>
	</div>
</div>

<%= erb :'products', :layout => false %>

<%= erb :'about', :layout => false %>