<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	
	<title>The Keynote Store</title>
</head>
<body id="printable_reciept">
	
		<h3>Online Sales Receipt</h3>
		<h6>Customer: <%= @order.order_first_name %> <%= @order.order_last_name  %></h6>
		<h6>Date: <%= @order.created_at.strftime("%B %d, %Y") %></h6>
		<h6>Invoice: 000-<%= @order.id %></h6>
		<table id="invoice">
			<tr>
				<th class="text_align_left">Theme</th>
				<th>Quantity</th>
				<th class="text_align_right">Price</th>
				<th class="text_align_right">Totals</th>
			</tr>
			<% @purchase.each do |purchase| %>
				<tr class="no_hover">
					<td><%= purchase.item_name %></td>
					<td class="text_align_center"><%= purchase.item_quantity %></td>
					<td class="text_align_right">$<%= purchase.item_price %></td>
					<td class="text_align_right">$<%= purchase.item_quantity * purchase.item_price %></td>
				</tr>
			<% end %>
			<% if @order.order_discount != 0 %>
				<tr class="text_align_right no_hover">
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td class="fixed_column">Total: $<%= @order.order_total %></td>
				</tr>
				<tr class="text_align_right no_hover">
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td>Discount: <%= (@order.order_discount * 100).to_i %>%</td>
				</tr>
			<% end %>
				<tr class="text_align_right no_hover">
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td class="no_border"></td>
					<td class="fixed_column">Total: $<%= (@order.order_total.to_i - (@order.order_total.to_i * @order.order_discount)).to_i %></td>
				</tr>
		</table>
		
		<div>
			<h3>Thank You!</h3>
			<h6>The Keynote Store</h6>
		</div>
			
</body>
</html>