<%= erb :'banner_standard', :layout => false %>

<div class="content">
	<h4>Secure Checkout</h4>
	<p class="support"><%= erb :'lorum_ipsum', :layout => false %></p>
	
	<h4>Download Issues</h4>
	<p class="support"><%= erb :'lorum_ipsum', :layout => false %></p>
	
	<h4>Sample Presentation</h4>
	<p class="support"><%= erb :'lorum_ipsum', :layout => false %></p>
	
	<h4>Keynote Support</h4>
	<p class="support"><%= erb :'lorum_ipsum', :layout => false %></p>
</div>

<div class="product_container">
	<a id="help" class="product" href="#"><div class="product_name">Help Email</div></a>
	<a id="feedback" class="product" href="#"><div class="product_name">Feedback Email</div></a>
	<% unless @complete_set.nil? %>
		<a id="<%= @complete_set.name.downcase.gsub(" ", "_") %>" class="product" href="/theme/<%= @complete_set.name.downcase.gsub(" ", "_") %>"><div class="product_name"><%= @complete_set.name %></div></a>
	<% end %>
</div>